name: Go
on: [push]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Run tests
        run: make test

      - name: Run native build
        run: make build

  build-and-push:
    needs: test-and-build
    uses: ./.github/workflows/build-and-push.yml
    with:
      tag: latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
