---

name: Continuous Integration Testing

on:
  pull_request:
    branches:
      - 'main'
  schedule:
    - cron: '0 1 * * 0'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    strategy:
      matrix:
        test:
          # Within this public repository we test all modules that require no cloud auth
          [
            webserver_test.go,
          ]
    steps:
      - uses: actions/checkout@v2
      - name: build terratest docker image
        run: |
          docker build . -f Dockerfile.ci -t \
          terraform-example-helpers-terratest
      - name: run terratest docker image
        run: |
          docker run --rm -v "$PWD":/usr/src/myapp \
              -e AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID" \
              -e AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY" \
              -e AWS_SESSION_TOKEN="$AWS_SESSION_TOKEN" \
              -w /usr/src/myapp \
              terraform-example-helpers-terratest bash -c \
              'cd test/unit; go test -v -timeout 30m ${{ matrix.test }}'
